lorvix-n8n-workflow.json
{
  "name": "Lorvix - Agente WhatsApp",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lorvix-whatsapp",
        "responseMode": "immediatelyReturnResponse",
        "options": {}
      },
      "id": "node-webhook-001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "lorvix-whatsapp"
    },
    {
      "parameters": {
        "jsCode": "// Validar payload da Evolution API e extrair dados da mensagem\nconst payload = $input.first().json;\n\n// Só processar mensagens recebidas\nif (payload.event !== 'messages.upsert') return [];\nconst data = payload.data;\nif (!data?.key) return [];\nif (data.key.fromMe === true) return [];  // ignorar mensagens do próprio bot\n\nconst remoteJid = data.key.remoteJid ?? '';\nif (!remoteJid.endsWith('@s.whatsapp.net')) return [];  // ignorar grupos\n\n// Extrair texto\nconst msg = data.message;\nconst text = (\n  msg?.conversation ??\n  msg?.extendedTextMessage?.text ??\n  msg?.imageMessage?.caption ??\n  msg?.videoMessage?.caption ??\n  null\n);\n\nif (!text?.trim()) return [];\n\nreturn [{\n  json: {\n    instanceName: payload.instance,\n    phone: remoteJid.replace('@s.whatsapp.net', ''),\n    senderName: data.pushName ?? '',\n    text: text.trim()\n  }\n}];"
      },
      "id": "node-validate-002",
      "name": "Validar Mensagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "jsCode": "// Carregar todos os dados necessários do Supabase em paralelo\nconst { instanceName, phone, senderName, text } = $input.first().json;\n\nconst BASE = $env.SUPABASE_URL.replace(/\\/$/, '');\nconst KEY = $env.SUPABASE_SERVICE_ROLE_KEY;\nconst H = { apikey: KEY, Authorization: `Bearer ${KEY}`, 'Content-Type': 'application/json' };\n\n// 1. Buscar configuração da instância WhatsApp\nconst cfgRes = await fetch(\n  `${BASE}/rest/v1/whatsapp_config?instance_name=eq.${encodeURIComponent(instanceName)}&select=clinic_id,is_active,auto_booking,agent_instructions`,\n  { headers: H }\n);\nconst configs = await cfgRes.json();\nconst config = configs[0] ?? null;\n\nif (!config) {\n  console.log(`[lorvix] Instância não encontrada: ${instanceName}`);\n  return [];\n}\n\nconst clinicId = config.clinic_id;\n\n// 2. Buscar clínica, serviços, profissionais e histórico em paralelo\nconst [clinicRes, svcRes, prosRes, histRes] = await Promise.all([\n  fetch(`${BASE}/rest/v1/clinics?id=eq.${clinicId}&select=name,phone,email,address`, { headers: H }),\n  fetch(`${BASE}/rest/v1/services?clinic_id=eq.${clinicId}&is_active=eq.true&select=id,name,description,duration_minutes,price,category&order=name`, { headers: H }),\n  fetch(`${BASE}/rest/v1/professionals?clinic_id=eq.${clinicId}&is_active=eq.true&select=id,name,specialty&order=name`, { headers: H }),\n  fetch(`${BASE}/rest/v1/whatsapp_conversations?clinic_id=eq.${clinicId}&phone=eq.${phone}&select=id,messages`, { headers: H })\n]);\n\nconst [clinics, services, professionals, convs] = await Promise.all([\n  clinicRes.json(), svcRes.json(), prosRes.json(), histRes.json()\n]);\n\nconst conv = convs[0] ?? null;\n\nreturn [{\n  json: {\n    instanceName,\n    phone,\n    senderName,\n    text,\n    clinicId,\n    is_active: Boolean(config.is_active),\n    auto_booking: Boolean(config.auto_booking),\n    agent_instructions: config.agent_instructions ?? '',\n    clinic: clinics[0] ?? null,\n    services: services ?? [],\n    professionals: professionals ?? [],\n    conv_id: conv?.id ?? null,\n    history: Array.isArray(conv?.messages) ? conv.messages.slice(-20) : []\n  }\n}];"
      },
      "id": "node-context-003",
      "name": "Carregar Contexto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.is_active }}",
              "value2": true
            }
          ]
        }
      },
      "id": "node-if-004",
      "name": "Agente Ativo?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [660, 300]
    },
    {
      "parameters": {},
      "id": "node-noop-005",
      "name": "Parar",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [880, 460]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_API_URL.replace(/\\/$/, '') }}/chat/sendPresence/{{ $json.instanceName }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.EVOLUTION_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ number: $json.phone, presence: 'composing', delay: 1500 }) }}",
        "options": { "ignoreResponseCode": true }
      },
      "id": "node-typing-006",
      "name": "Indicador de Digitação",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [880, 160]
    },
    {
      "parameters": {
        "jsCode": "// Loop completo do agente IA com tool calling\nconst ctx = $('Carregar Contexto').first().json;\n\nconst BASE = $env.SUPABASE_URL.replace(/\\/$/, '');\nconst KEY = $env.SUPABASE_SERVICE_ROLE_KEY;\nconst OPENAI_KEY = $env.OPENAI_API_KEY;\nconst MODEL = $env.OPENAI_MODEL || 'gpt-4o-mini';\n\nconst {\n  clinicId, auto_booking, agent_instructions,\n  clinic, services, professionals,\n  history, text, senderName, phone,\n  instanceName, conv_id\n} = ctx;\n\n// ── Montar prompt do sistema ─────────────────────────────────────────────────\nconst today = new Date().toLocaleDateString('pt-BR', {\n  weekday: 'long', day: 'numeric', month: 'long', year: 'numeric',\n  timeZone: 'America/Sao_Paulo'\n});\n\nconst svcList = Array.isArray(services) && services.length\n  ? services.map(s =>\n      `  • ${s.name}` +\n      (s.duration_minutes ? ` (${s.duration_minutes}min)` : '') +\n      (s.price ? ` – R$${Number(s.price).toFixed(2)}` : '') +\n      (s.description ? ': ' + s.description : '')\n    ).join('\\n')\n  : '  (não cadastrados — use get_available_slots para consultar)';\n\nconst proList = Array.isArray(professionals) && professionals.length\n  ? professionals.map(p => `  • ${p.name} – ${p.specialty} [id: ${p.id}]`).join('\\n')\n  : '  (nenhum profissional cadastrado)';\n\nconst bookingRule = auto_booking\n  ? 'Você PODE criar, remarcar e cancelar agendamentos usando as ferramentas.'\n  : 'Agendamento automático DESATIVADO. Consulte horários, mas oriente o paciente a ligar ou acessar o sistema para agendar.';\n\nconst systemPrompt =\n  `Você é a assistente virtual da ${clinic?.name ?? 'clínica'}, atendendo pelo WhatsApp.\\n` +\n  `Data atual: ${today}.\\n` +\n  (senderName ? `O paciente se chama ${senderName}.\\n` : '') +\n  `Telefone do paciente: ${phone}\\n\\n` +\n  `SERVIÇOS DISPONÍVEIS:\\n${svcList}\\n\\n` +\n  `PROFISSIONAIS:\\n${proList}\\n\\n` +\n  `REGRAS:\\n` +\n  `- Responda SEMPRE em português brasileiro.\\n` +\n  `- Seja cordial, objetivo e profissional.\\n` +\n  `- Nunca invente informações — use as ferramentas para dados reais.\\n` +\n  `- Ao apresentar horários, liste de forma organizada (09:00, 09:30...).\\n` +\n  `- Antes de agendar, confirme: serviço, profissional, data e horário.\\n` +\n  `- ${bookingRule}\\n\\n` +\n  `FLUXO DE AGENDAMENTO:\\n` +\n  `1. Entenda a necessidade.\\n` +\n  `2. Verifique disponibilidade com get_available_slots.\\n` +\n  `3. Confirme dados com o paciente.\\n` +\n  `4. Execute create_appointment.\\n` +\n  `5. Confirme o agendamento ao paciente.` +\n  (agent_instructions ? `\\n\\nINSTRUÇÕES DA CLÍNICA:\\n${agent_instructions}` : '');\n\n// ── Definição das ferramentas ────────────────────────────────────────────────\nconst tools = [\n  {\n    type: 'function',\n    function: {\n      name: 'get_available_slots',\n      description: 'Retorna horários disponíveis para agendamento em uma data específica.',\n      parameters: {\n        type: 'object',\n        properties: {\n          date: { type: 'string', description: 'Data no formato YYYY-MM-DD.' },\n          professional_id: { type: 'string', description: 'ID do profissional (opcional).' }\n        },\n        required: ['date']\n      }\n    }\n  },\n  {\n    type: 'function',\n    function: {\n      name: 'get_patient_appointments',\n      description: 'Lista os próximos agendamentos de um paciente pelo telefone.',\n      parameters: {\n        type: 'object',\n        properties: {\n          phone: { type: 'string', description: 'Telefone do paciente, apenas dígitos.' }\n        },\n        required: ['phone']\n      }\n    }\n  },\n  {\n    type: 'function',\n    function: {\n      name: 'create_appointment',\n      description: 'Cria um agendamento. Confirme TODOS os dados com o paciente antes de chamar.',\n      parameters: {\n        type: 'object',\n        properties: {\n          patient_phone:   { type: 'string', description: 'Telefone do paciente, apenas dígitos.' },\n          patient_name:    { type: 'string', description: 'Nome completo do paciente.' },\n          service:         { type: 'string', description: 'Nome do serviço.' },\n          date:            { type: 'string', description: 'Data YYYY-MM-DD.' },\n          time:            { type: 'string', description: 'Horário HH:MM.' },\n          professional_id: { type: 'string', description: 'ID do profissional (opcional).' },\n          notes:           { type: 'string', description: 'Observações (opcional).' }\n        },\n        required: ['patient_phone', 'patient_name', 'service', 'date', 'time']\n      }\n    }\n  },\n  {\n    type: 'function',\n    function: {\n      name: 'cancel_appointment',\n      description: 'Cancela um agendamento existente. Confirme com o paciente antes.',\n      parameters: {\n        type: 'object',\n        properties: {\n          appointment_id: { type: 'string', description: 'ID do agendamento a cancelar.' }\n        },\n        required: ['appointment_id']\n      }\n    }\n  },\n  {\n    type: 'function',\n    function: {\n      name: 'reschedule_appointment',\n      description: 'Remarca um agendamento para nova data e horário.',\n      parameters: {\n        type: 'object',\n        properties: {\n          appointment_id: { type: 'string', description: 'ID do agendamento.' },\n          new_date:       { type: 'string', description: 'Nova data YYYY-MM-DD.' },\n          new_time:       { type: 'string', description: 'Novo horário HH:MM.' }\n        },\n        required: ['appointment_id', 'new_date', 'new_time']\n      }\n    }\n  }\n];\n\n// ── Execução das ferramentas ─────────────────────────────────────────────────\nconst SBH = {\n  apikey: KEY,\n  Authorization: `Bearer ${KEY}`,\n  'Content-Type': 'application/json',\n  Prefer: 'return=representation'\n};\n\nasync function runTool(name, args) {\n\n  // ── get_available_slots ──────────────────────────────────────────────────\n  if (name === 'get_available_slots') {\n    const { date, professional_id } = args;\n    const dow = new Date(date + 'T12:00:00').getDay();\n    let availUrl = `${BASE}/rest/v1/availability?clinic_id=eq.${clinicId}&day_of_week=eq.${dow}&select=professional_id,start_time,end_time,slot_duration`;\n    if (professional_id) availUrl += `&professional_id=eq.${professional_id}`;\n\n    const [aRes, apptRes, blkRes] = await Promise.all([\n      fetch(availUrl, { headers: SBH }),\n      fetch(`${BASE}/rest/v1/appointments?clinic_id=eq.${clinicId}&start_datetime=gte.${date}T00:00:00&start_datetime=lte.${date}T23:59:59&status=neq.cancelled&select=professional_id,start_datetime,end_datetime`, { headers: SBH }),\n      fetch(`${BASE}/rest/v1/schedule_blocks?clinic_id=eq.${clinicId}&start_datetime=lte.${date}T23:59:59&end_datetime=gte.${date}T00:00:00&select=professional_id,start_datetime,end_datetime`, { headers: SBH })\n    ]);\n    const [avail, appts, blocks] = await Promise.all([aRes.json(), apptRes.json(), blkRes.json()]);\n    const busy = [...(appts ?? []), ...(blocks ?? [])];\n\n    const slotMap = {};\n    for (const rule of (avail ?? [])) {\n      const [sh, sm] = rule.start_time.split(':').map(Number);\n      const [eh, em] = rule.end_time.split(':').map(Number);\n      const dur = rule.slot_duration ?? 30;\n      let ch = sh, cm = sm;\n      while (ch * 60 + cm + dur <= eh * 60 + em) {\n        const hh = String(ch).padStart(2, '0');\n        const mm = String(cm).padStart(2, '0');\n        const slotStart = new Date(`${date}T${hh}:${mm}:00`).getTime();\n        const slotEnd = slotStart + dur * 60000;\n        const conflict = busy.some(b => {\n          const bs = new Date(b.start_datetime).getTime();\n          const be = new Date(b.end_datetime).getTime();\n          return slotStart < be && slotEnd > bs && b.professional_id === rule.professional_id;\n        });\n        const key = `${hh}:${mm}`;\n        if (!conflict && !slotMap[key]) slotMap[key] = { time: key, professional_id: rule.professional_id };\n        cm += dur;\n        while (cm >= 60) { cm -= 60; ch++; }\n      }\n    }\n    const slots = Object.values(slotMap).sort((a, b) => a.time.localeCompare(b.time));\n    return { date, slots, total: slots.length };\n  }\n\n  // ── get_patient_appointments ─────────────────────────────────────────────\n  if (name === 'get_patient_appointments') {\n    const digits = (args.phone || phone).replace(/\\D/g, '');\n    const pRes = await fetch(`${BASE}/rest/v1/patients?clinic_id=eq.${clinicId}&phone=eq.${digits}&select=id`, { headers: SBH });\n    const patients = await pRes.json();\n    if (!patients?.[0]) return { appointments: [], message: 'Paciente não cadastrado.' };\n    const aRes = await fetch(\n      `${BASE}/rest/v1/appointments?clinic_id=eq.${clinicId}&patient_id=eq.${patients[0].id}&status=neq.cancelled&start_datetime=gte.${new Date().toISOString()}&select=id,service,start_datetime,status&order=start_datetime&limit=5`,\n      { headers: SBH }\n    );\n    const appointments = await aRes.json();\n    return { appointments: appointments ?? [] };\n  }\n\n  // ── create_appointment ───────────────────────────────────────────────────\n  if (name === 'create_appointment') {\n    if (!auto_booking) return { error: 'Agendamento automático desativado. Oriente o paciente a ligar.' };\n    const { patient_phone, patient_name, service: svcName, date, time, professional_id, notes } = args;\n    const digits = patient_phone.replace(/\\D/g, '');\n\n    // Encontrar ou criar paciente\n    const pRes = await fetch(`${BASE}/rest/v1/patients?clinic_id=eq.${clinicId}&phone=eq.${digits}&select=id,full_name`, { headers: SBH });\n    const found = await pRes.json();\n    let patientId = found?.[0]?.id;\n    if (!patientId) {\n      const cRes = await fetch(`${BASE}/rest/v1/patients`, {\n        method: 'POST', headers: SBH,\n        body: JSON.stringify({ clinic_id: clinicId, full_name: patient_name, phone: digits })\n      });\n      const created = await cRes.json();\n      patientId = created?.[0]?.id;\n    }\n    if (!patientId) return { error: 'Erro ao cadastrar paciente.' };\n\n    // Resolver profissional\n    let profId = professional_id;\n    if (!profId && professionals?.[0]) profId = professionals[0].id;\n    if (!profId) return { error: 'Nenhum profissional disponível.' };\n\n    // Resolver duração pelo serviço cadastrado\n    const svc = services?.find(s => s.name?.toLowerCase().includes(svcName?.toLowerCase()));\n    const dur = svc?.duration_minutes ?? 30;\n    const start = new Date(`${date}T${time}:00`);\n    const end = new Date(start.getTime() + dur * 60000);\n\n    const aRes = await fetch(`${BASE}/rest/v1/appointments`, {\n      method: 'POST', headers: SBH,\n      body: JSON.stringify({\n        clinic_id: clinicId, patient_id: patientId, professional_id: profId,\n        service: svcName, start_datetime: start.toISOString(), end_datetime: end.toISOString(),\n        status: 'scheduled', source: 'whatsapp', notes: notes ?? null\n      })\n    });\n    const appt = await aRes.json();\n    if (appt?.code === '23P01' || appt?.code?.startsWith('23')) return { error: 'Conflito de horário. Escolha outro horário.' };\n    return { success: true, appointment_id: appt?.[0]?.id, date, time, service: svcName, duration_minutes: dur };\n  }\n\n  // ── cancel_appointment ───────────────────────────────────────────────────\n  if (name === 'cancel_appointment') {\n    if (!auto_booking) return { error: 'Cancelamento automático desativado.' };\n    const r = await fetch(`${BASE}/rest/v1/appointments?id=eq.${args.appointment_id}&clinic_id=eq.${clinicId}`, {\n      method: 'PATCH', headers: SBH,\n      body: JSON.stringify({ status: 'cancelled' })\n    });\n    return r.ok ? { success: true } : { error: 'Erro ao cancelar agendamento.' };\n  }\n\n  // ── reschedule_appointment ───────────────────────────────────────────────\n  if (name === 'reschedule_appointment') {\n    if (!auto_booking) return { error: 'Remarcação automática desativada.' };\n    const { appointment_id, new_date, new_time } = args;\n    const aRes = await fetch(`${BASE}/rest/v1/appointments?id=eq.${appointment_id}&clinic_id=eq.${clinicId}&select=start_datetime,end_datetime`, { headers: SBH });\n    const appts = await aRes.json();\n    if (!appts?.[0]) return { error: 'Agendamento não encontrado.' };\n    const dur = new Date(appts[0].end_datetime).getTime() - new Date(appts[0].start_datetime).getTime();\n    const newStart = new Date(`${new_date}T${new_time}:00`);\n    const newEnd = new Date(newStart.getTime() + dur);\n    const r = await fetch(`${BASE}/rest/v1/appointments?id=eq.${appointment_id}&clinic_id=eq.${clinicId}`, {\n      method: 'PATCH', headers: SBH,\n      body: JSON.stringify({ start_datetime: newStart.toISOString(), end_datetime: newEnd.toISOString(), status: 'scheduled' })\n    });\n    return r.ok ? { success: true, new_date, new_time } : { error: 'Erro ao remarcar.' };\n  }\n\n  return { error: `Ferramenta desconhecida: ${name}` };\n}\n\n// ── Loop do agente ───────────────────────────────────────────────────────────\nconst messages = [\n  { role: 'system', content: systemPrompt },\n  ...history.map(m => ({ role: m.role, content: m.content }))\n];\nmessages.push({ role: 'user', content: text });\n\nlet reply = 'Desculpe, não consegui processar sua mensagem. Entre em contato diretamente com a clínica.';\n\nfor (let round = 0; round < 8; round++) {\n  const res = await fetch('https://api.openai.com/v1/chat/completions', {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json', Authorization: `Bearer ${OPENAI_KEY}` },\n    body: JSON.stringify({\n      model: MODEL,\n      messages,\n      tools,\n      tool_choice: 'auto',\n      max_tokens: 1024,\n      temperature: 0.4\n    })\n  });\n\n  const data = await res.json();\n  if (data.error) {\n    console.error('[lorvix-agent] OpenAI erro:', JSON.stringify(data.error));\n    break;\n  }\n\n  const choice = data.choices?.[0];\n  if (!choice) break;\n\n  // Sem tool calls — resposta final\n  if (!choice.message?.tool_calls?.length) {\n    reply = choice.message.content ?? reply;\n    break;\n  }\n\n  // Processar tool calls\n  messages.push(choice.message);\n  for (const tc of choice.message.tool_calls) {\n    let args = {};\n    try { args = JSON.parse(tc.function.arguments); } catch {}\n    console.log(`[tool] ${tc.function.name}:`, JSON.stringify(args));\n    const result = await runTool(tc.function.name, args);\n    console.log(`[tool] resultado:`, JSON.stringify(result));\n    messages.push({ role: 'tool', tool_call_id: tc.id, content: JSON.stringify(result) });\n  }\n}\n\n// Atualizar histórico\nconst newHistory = [\n  ...history,\n  { role: 'user', content: text, timestamp: new Date().toISOString() },\n  { role: 'assistant', content: reply, timestamp: new Date().toISOString() }\n].slice(-30);\n\nreturn [{ json: { reply, phone, instanceName, clinicId, conv_id, history: newHistory } }];"
      },
      "id": "node-agent-007",
      "name": "Agente IA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 160]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_API_URL.replace(/\\/$/, '') }}/message/sendText/{{ $json.instanceName }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.EVOLUTION_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ number: $json.phone, text: $json.reply }) }}"
      },
      "id": "node-send-008",
      "name": "Enviar Resposta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1320, 160]
    },
    {
      "parameters": {
        "jsCode": "// Salvar ou atualizar histórico da conversa no Supabase\nconst { clinicId, phone, conv_id, history } = $('Agente IA').first().json;\n\nconst BASE = $env.SUPABASE_URL.replace(/\\/$/, '');\nconst KEY = $env.SUPABASE_SERVICE_ROLE_KEY;\nconst H = {\n  apikey: KEY,\n  Authorization: `Bearer ${KEY}`,\n  'Content-Type': 'application/json',\n  Prefer: 'return=representation'\n};\n\nif (conv_id) {\n  await fetch(`${BASE}/rest/v1/whatsapp_conversations?id=eq.${conv_id}`, {\n    method: 'PATCH',\n    headers: H,\n    body: JSON.stringify({ messages: history, last_message_at: new Date().toISOString() })\n  });\n} else {\n  await fetch(`${BASE}/rest/v1/whatsapp_conversations`, {\n    method: 'POST',\n    headers: H,\n    body: JSON.stringify({\n      clinic_id: clinicId,\n      phone,\n      messages: history,\n      last_message_at: new Date().toISOString()\n    })\n  });\n}\n\nreturn [{ json: { ok: true } }];"
      },
      "id": "node-save-009",
      "name": "Salvar Conversa",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 160]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Validar Mensagem", "type": "main", "index": 0 }]
      ]
    },
    "Validar Mensagem": {
      "main": [
        [{ "node": "Carregar Contexto", "type": "main", "index": 0 }]
      ]
    },
    "Carregar Contexto": {
      "main": [
        [{ "node": "Agente Ativo?", "type": "main", "index": 0 }]
      ]
    },
    "Agente Ativo?": {
      "main": [
        [{ "node": "Indicador de Digitação", "type": "main", "index": 0 }],
        [{ "node": "Parar", "type": "main", "index": 0 }]
      ]
    },
    "Indicador de Digitação": {
      "main": [
        [{ "node": "Agente IA", "type": "main", "index": 0 }]
      ]
    },
    "Agente IA": {
      "main": [
        [{ "node": "Enviar Resposta", "type": "main", "index": 0 }]
      ]
    },
    "Enviar Resposta": {
      "main": [
        [{ "node": "Salvar Conversa", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "lorvix-whatsapp-agent-v1",
  "meta": {
    "instanceId": "lorvix"
  }
}
